@import "../global/vars";
header {
  width: 100%;
  height: 60px;
  background-color: $white;
  .header-content {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    img {
      margin-left: 20px;
      height: 45px;
    }

    nav {
      ul {
        a {
          color: $background-gray;
          text-decoration: none;
        }
        li {
          font-size: 20px;
          margin: 10px;
          display: inline;
          color: $background-gray;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .social {
      width: 100px;
      margin-right: 20px;
      display: flex;
      a {
        width: 35px;
        margin: 10px;
      }
      svg {
        width: 35px;
        height: 35px;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (max-width: 870px) {
  header {
    .header-content {
      justify-content: space-between;
      nav {
        ul {
          li {
            display: none;
          }
        }
      }
      .social {
        // display: none;
      }
    }
  }
}
