@import "../global/vars";

header {
  width: 100%;
  height: 60px;
  background-color: $white;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    img {
      height: 45px;
      margin-left: 20px;
    }

    nav {
      ul {
        a {
          color: $dark-gray;
          text-decoration: none;
        }
        li {
          display: inline;
          margin: 10px;
          font-size: 20px;
          color: $dark-gray;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .social {
      display: flex;
      margin-right: 20px;
      a {
        width: 35px;
        margin: 10px;
        svg {
          width: 35px;
          height: 35px;
          cursor: pointer;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .burger-btn {
      position: fixed;
      right: 20px;
    }
  }
}

@media (max-width: 870px) {
  header {
    .header-content-hided {
      height: 60px;
      justify-content: space-between;
      nav {
        ul {
          li {
            display: none;
          }
        }
      }
    }
    .header-content-vertical {
      width: 100%;
      position: fixed;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.644);
      nav {
        ul {
          a {
            color: $white;
          }
          li {
            display: block;
            text-align: center;
            margin: 40px;
          }
        }
      }
      .burger-btn {
        // position: static;
        top: 10px;
        margin-bottom: 10px;
        opacity: 1;
      }
      img {
        margin-top: 10px;
      }
    }
  }
}
