@import "../global/vars";

.logo-n-about {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-bottom: 40px;
  background: url("@img/nubes.png");
  background-position: center;
  background-size: cover;
  &__filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
    background: linear-gradient(180deg, $white 70%, rgba(0, 212, 255, 0) 100%);
    svg {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
    }
  }
  &__text {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    p {
      padding: 10px;
      font-size: 1.6rem;
      color: $dark-gray;
    }
  }
  &__btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
