@import "../global/vars";

.plazas {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0px 20px 0;
  h2 {
    margin-bottom: 10px;
    text-align: center;
  }
  &__cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .plaza-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0px 3px 6px 2px #808080;
    transform: translateX(30vw);
    opacity: 0;
    p {
      font-size: 1.4rem;
    }
    svg {
      margin-left: 2px;
      width: 14px;
    }
    .categoria {
      width: fit-content;
      padding: 3px;
      font-family: "Torus Regular", sans-serif;
      color: white;
      border-radius: 8px;
      box-shadow: 3px 3px 5px $purple;
    }
    h4 {
      font-size: 1.8rem;
      color: $dark-gray;
    }
    p {
      margin-top: 10px;
    }
    .tecnologias {
      p {
        margin-left: 10px;
        font-family: "Montserrat-lg", sans-serif;
      }
    }
    a {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      font-family: "Montserrat-bd", sans-serif;
      font-size: 1.6rem;
      text-align: center;
      text-decoration: none;
      color: $white;
      background-color: $primary-blue;
      border-radius: 8px;
      cursor: pointer;
      &:hover {
        transform: scale(1.01);
      }
    }
  }
}
